// app global css in SCSS form

$body-light: #eceff4;
$body-dark: #2e3440;

$section-color-dark: #4c566a;
$section-color-light: #d8dee9;

@font-face {
  font-family: Rubik;
  src: url(./fonts/Rubik.ttf);
}

// Scroll bar
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #e5e9f0;
}
::-webkit-scrollbar-track {
  background: #3b4252;
}

body {
  font-family: Rubik;
  transition: 400ms;
}

.q-header {
  transition: 500ms;
}

.hero-text {
  color: #4c566a;
}

body.body--dark {
  background-color: $body-dark;
  color: $body-light;

  .q-header {
    background-color: $body-dark;
  }

  .content-section {
    background-color: $section-color-dark;
  }
}

body.body--light {
  background-color: $body-light;
  color: $body-dark;

  .q-header {
    background-color: $body-light;
  }

  .content-section {
    background-color: $section-color-light;
  }

  .title-header {
    color: $body-dark;
  }
}
