// app global css in SCSS form

$body-light: #eceff4;
$body-dark: #2e3440;

$section-color-dark: #4c566a;
$section-color-light: #d8dee9;

@font-face {
  font-family: Rubik;
  src: url(./fonts/Rubik.ttf);
}

// Scroll bar
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #e5e9f0;
}
::-webkit-scrollbar-thumb:hover {
  background: #caced6;
}
::-webkit-scrollbar-track {
  background: #3b4252;
}

body {
  font-family: Rubik;
  transition: 400ms;
}

html {
  scroll-behavior: smooth;
}

a:hover {
  text-decoration: none;
}

.q-header {
  transition: 500ms;
}

.hero-text {
  color: #e5e9f0;
}

.q-btn {
  border-radius: 16px;
}

.title-header {
  color: $body-light;
  text-decoration: none;
  a {
    text-decoration: none;
  }
}

.nav-item {
  text-decoration: none;
}

body.body--dark {
  background-color: $body-dark;
  color: $body-light;

  .q-header {
    background-color: $body-dark;
  }

  .content-section {
    background-color: $section-color-dark;
  }

  .title-header {
    color: $body-light;
  }

  .layer {
    background-image: url("/layers/layer-dark.svg");
  }

  .blobs {
    width: 100%;
    background: url("/blobs/blobs-dark.svg") no-repeat bottom / cover;
  }

  .nav-item {
    color: $body-light;
  }

  footer {
    background-color: #3b4252;
  }

  a {
    color: $body-light;
  }
}

body.body--light {
  background-color: $body-light;
  color: $body-dark;

  .q-header {
    background-color: $body-light;
  }

  .content-section {
    background-color: $section-color-light;
  }

  .title-header {
    color: $body-dark;
  }

  .layer {
    background-image: url("/layers/layer-light.svg");
  }

  .blobs {
    width: 100%;
    background: url("/blobs/blobs-light.svg") no-repeat bottom / cover;
  }

  .q-drawer {
    background-color: $section-color-light;
  }

  .nav-item {
    color: $body-dark;
  }

  a {
    color: $body-dark;
  }
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
